<section class="service-sec" id="benefits">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="heading">
          <h2 class="font-normal-slate">
            {{ _h.homePage.blocks.heading }}
          </h2>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-xsx-6 margin-auto" *ngFor="let item of _h.homePage.blocks.items; let i = index">
        <div [ngClass]="{'serviceBox': true, ' ': (i%3 === 0), ' green': (i%3 === 1), ' orange': (i%3 === 2)} ">
          <div class="service-icon">
            <span> <!-- Put icons here from settings later --> </span>
          </div>
          <div class="service-content">
            <h3 class="title">{{ item.title }}</h3>
            <p class="description">{{ item.description }}</p>
            <a href="{{ item.url }}" class="read-more" data-toggle="tooltip" title="Read More">&#10095;</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>