<h1 mat-dialog-title>Search</h1>
<div mat-dialog-content class="height-hundred">
  <mat-form-field>
    <input matInput [(ngModel)]="data.search">
  </mat-form-field>
  <mat-radio-group aria-label="Search option" [(ngModel)]="data.type">
    <mat-radio-button value="keywords">Keywords</mat-radio-button>
    <mat-radio-button value="advanced">Advanced</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{ search: data.search, type: data.type }" cdkFocusInitial>Search</button>
</div>