<div *ngIf="!!_h.homePage.type && _h.homePage.type === 'landing' && !!_h.homePage.highlight.type && _h.homePage.highlight.type === 'text'"
  class="row highlighter-text-landing">

  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 highlighter-img">
    <img class="highlighter-img-size" src="{{ _h.homePage.highlight.img }}" alt="">
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 highlighter-text">
    <h1>{{ _h.homePage.highlight.heading }}</h1>
    <p>
      {{ _h.homePage.highlight.description }}
    </p>
    <br>
    <a class="btn btn-primary btn-lg" [href]="_h.homePage.highlight.buttonurl ? (_h.homePage.highlight.buttonurl.includes('http') ? _h.homePage.highlight.buttonurl : '#' + _h.homePage.highlight.buttonurl) : '/'">{{ _h.homePage.highlight.buttontext }}</a>
  </div>

</div>

<div *ngIf="!!_h.homePage.type && _h.homePage.type === 'landing' && !!_h.homePage.highlight.type && _h.homePage.highlight.type === 'slider'"
  style="padding: 20px; margin-bottom:40px !important; border: 1px solid #e7e7e7; border-radius: 3px;">

  <div class="slideshow-container">

    <div *ngFor="let item of _h.homePage.highlight.img; let i = index;" class="mySlides fade">
      <div class="numbertext">{{i+1}} / {{ _h.homePage.highlight.img.length }}</div>
      <img [src]="item.url" class="slider-imgs">
      <div class="text">{{ item.text }}</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

  </div>

  <br>

  <div style="text-align:center;">
    <span *ngFor="let item of _h.homePage.highlight.img; let i = index;">
      <span class="dot" (click)="currentSlide(i+1)"></span>
    </span>
  </div>

</div>