<div *ngIf="!_wksrv.searchResult.length">
  <h4>No search results</h4>
</div>
<h4 *ngIf="_wksrv.searchResult.length - 1">Search results</h4>
<div *ngFor="let item of (_wksrv.searchResult || [])">
  <h4 *ngIf="item.total !== 0" style="margin-bottom: 0px !important;">
    <a class="text-green ml-2" href="{{ '#' + item.url}}">
      {{ item.url }}
    </a>
  </h4>
  <h5 *ngIf="item.total !== 0" style="margin-top: 0px !important;">Search Result - {{ item.total }} Matches, Keys : [
    <span>&nbsp;&nbsp;</span>
    <span *ngFor="let obj of item.keys; let i = index;">
      <span>{{ obj.key }}</span>:
      <span>{{ obj.count }}</span>
      <span>&nbsp;&nbsp;</span>
    </span>
    ]
    <br/>
    <br class="visible-mobile" />
    <span *ngIf="item.total !== 0" class="search-text">{{ item.body }}</span>
  </h5>
</div>
