<div *ngIf="!_wksrv.searchResult.length">
  <h2>No search results</h2>
</div>
<h2>Search results</h2>
<div *ngFor="let item of (_wksrv.searchResult || [])">
  <h4 style="margin-bottom: 0px !important;">
    <a class="text-green ml-2" href="{{ '#' + item.ref}}">
      {{item.ref}}
    </a>
  </h4>
  <h5 style="margin-top: 0px !important;">Search Match - %: {{item.score}}, Keys : [
    <span *ngFor="let obj of objectKeys(item.matchData.metadata); let i = index;">
      <span>{{ obj }}</span>:
      <span>{{ stringifyArray(item.matchData.metadata[obj].body.position.length) }}</span>
      <span *ngIf="i !== objectKeys(item.matchData.metadata).length - 1">,</span>
    </span>
    ]
  </h5>
  <span style="margin-top: 0px !important;">{{ item.ref.body }}</span>

</div>
