<div #topnav class="topnav" id="topnav">

  <a class="invisible-menu" href="javascript:void(0);">
    <span *ngIf="!sidebarclosed" class="pad-top-menuicon" (click)="closeNav()">
      &nbsp;&nbsp;&nbsp;
      <img src="/assets/img/menuicon.svg" style="width: 12px; height: 12px;" alt="Menu"> &nbsp;&nbsp;&nbsp;
    </span>
    <span *ngIf="!!sidebarclosed" class="pad-top-menuicon" (click)="openNav()">
      &nbsp;&nbsp;&nbsp;
      <img src="/assets/img/menuicon.svg" style="width: 12px; height: 12px;" alt="Menu"> &nbsp;&nbsp;&nbsp;
    </span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span (click)="routeMain($event)" class="pad-left-right fontcolor-primary font-bold"> {{ brandname }} </span>
  </a>

  <ng-container *ngFor="let obj of topnavItems; let i = index;">
    <a *ngIf="obj.type != 'external'" href="{{ '#' + obj.link}}" class="topnav-trans active">{{obj.tag ? obj.tag : 'No Tag'}}</a>
    <a *ngIf="obj.type == 'external'" [attr.external]="obj" opennewwindow class="topnav-trans active">{{obj.tag ? obj.tag : 'No Tag'}}</a>
  </ng-container>

  <a href="javascript:void(0);" class="icon">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span (click)="routeMain($event)" class="pad-left-right fontcolor-primary font-bold"> {{ brandname }} </span>
  </a>
  <a href="javascript:void(0);" class="icon-left">
    <span class="pad-left-right menu-position" *ngIf="!sidebarclosed" (click)="closeNav()">
      &nbsp;&nbsp;&nbsp;
      <img src="/assets/img/menuicon.svg" style="width: 12px; height: 12px;" alt="Menu"> &nbsp;&nbsp;&nbsp;
    </span>
    <span class="pad-left-right menu-position" *ngIf="!!sidebarclosed" (click)="openNav()">
      &nbsp;&nbsp;&nbsp;
      <img src="/assets/img/menuicon.svg" style="width: 12px; height: 12px;" alt="Menu"> &nbsp;&nbsp;&nbsp;
    </span>
  </a>
</div>
<div #sidebarfixed id="sidebarfixed" class="sidenav sbar-style">
  <a *ngIf="mobileAndTabletCheck()" href="#/home" class="brandname fontcolor-primary font-bold"> {{ brandname }} </a>
  <a style="font-size: 18px;" href="javascript:void(0)" class="closebtn" (click)="closeNav()">
    <span class="button-plus-span">&times;</span>
  </a>

  <div style="margin-top: 50px !important;">
    <br>
    <br>

    <ng-container *ngFor="let obj of sidebarItems; let i = index;">
      <span *ngIf="!!obj.children">
        <button (click)="openItems($event, i)" [ngClass]="accordianClassList[i] ? accordianClassList[i] : accordianClassList[i]={'accordion': true, 'active-sidebar': false}">
          <span>{{obj.tag}}</span>
          <span style="float: right" class="">+</span>
        </button>
        <div [ngStyle]="styleList[i] ? styleList[i] : styleList[i]={ 'display': 'none' }" class="panel-sidebar">
          <p *ngFor="let dyobj of obj.children; let j = index;">
            <ng-container>
              <a *ngIf="dyobj.type != 'external'" (click)="closeMobileNav(dyobj)" class="margin-zero fontcolor-primary" [href]="dyobj.link ? (dyobj.link.includes('http') ? dyobj.link : '#' + dyobj.link) : '#/home'">{{dyobj.tag ? dyobj.tag : 'No Tag'}}</a>
              <a *ngIf="dyobj.type == 'external'" (click)="closeMobileNav(dyobj)" [attr.external]="dyobj" opennewwindow class="margin-zero fontcolor-primary"
                [href]="dyobj.link ? (dyobj.link.includes('http') ? dyobj.link : '#' + dyobj.link) : '#/home'">{{dyobj.tag ? dyobj.tag : 'No Tag'}}</a>
            </ng-container>
          </p>
        </div>
      </span>

      <span *ngIf="!obj.children">
        <p>
          <ng-container>
            <a *ngIf="obj.type != 'external'" (click)="closeMobileNav(obj)" class="margin-zero fontcolor-primary" [href]="obj.link ? (obj.link.includes('http') ? obj.link : '#' + obj.link) : '#/home'">{{obj.tag ? obj.tag : 'No Tag'}}</a>
            <a *ngIf="obj.type == 'external'" (click)="closeMobileNav(obj)" [attr.external]="obj" opennewwindow class="margin-zero fontcolor-primary"
              [href]="obj.link ? (obj.link.includes('http') ? obj.link : '#' + obj.link) : '#/home'">{{obj.tag ? obj.tag : 'No Tag'}}</a>
          </ng-container>

        </p>
      </span>
    </ng-container>

    <span *ngFor="let item of [1,1,1,1,1,1]; let i = index;">
      <p>
        <a class="margin-zero fontcolor-primary"></a>
      </p>
    </span>
  </div>
</div>

<div #contentmain class="main">
  <div *ngIf="showsearch" class="searchbar">
    <div class="search-container">
      <form (submit)="searchDoc($event)">
        <input type="text" placeholder="Search.." #searchform name="search" value="">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
  <app-rendermd></app-rendermd>

  <span *ngIf="searchicon" class="fab-icon" title="Search Site" (click)="showSearch()">
    <img src="/assets/img/search.svg" style="width: 10px; height: 10px;" alt="Search">
  </span>
</div>

<!-- FOOTER-->

<footer #footernav *ngIf="!!footer" id="footer">
  <div class="container">
    <div *ngIf="!!footer.nav && footer.nav.length > 0" class="row text-center text-xs-center text-sm-left text-md-center">
      <div *ngFor="let footerItems of footer.nav" class="col-sm-3 col-md-3 col-lg-3" style="padding: 0px;margin: auto">
        <h5>{{ footerItems.tag }}</h5>
        <ul class="list-unstyled quick-links">
          <ng-container *ngFor="let obj of footerItems.children">
            <li *ngIf="obj.type != 'external'">
              <a href="{{obj.link ? (obj.link.includes('http') ? obj.link : '#' + obj.link) : '#/home'}}">{{obj.tag}}</a>
            </li>
            <li *ngIf="obj.type == 'external'">
              <a opennewwindow [attr.external]="obj" href="#">{{obj.tag}}</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="!!footer.social" class="social-networks">
    <ul class="list-unstyled list-inline social text-center">
      <ng-container *ngFor="let obj of footer.social">
        <li *ngIf="obj.type != 'external'" class="list-inline-item">
          <a href="{{obj.link ? (obj.link.includes('http') ? obj.link : '#' + obj.link) : '#/home'}}">{{obj.tag}}</a>
        </li>
        <li *ngIf="obj.type == 'external'" class="list-inline-item">
          <a opennewwindow [attr.external]="obj" href="#">{{obj.tag}}</a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div *ngIf="!!footer.copyright" class="footer-copyright">
    <p>{{ footer.copyright.text }}</p>
    <p *ngIf="footer.copyright.type != 'external'" class="h6">
      <a class="text-green ml-2" href="{{ footer.copyright.link ? (footer.copyright.link.includes('http') ? footer.copyright.link : '#' + footer.copyright.link) : '#/home'}}">{{footer.copyright.tag}}</a> &copy; All rights Reserved.</p>
    <p *ngIf="footer.copyright.type == 'external'" class="h6">
      <a class="text-green ml-2" opennewwindow [attr.external]="{'link': footer.copyright.link, 'type': footer.copyright.type}"
        [href]="footer.copyright.type ? footer.copyright.link ? (footer.copyright.link.includes('http') ? footer.copyright.link : '#' + footer.copyright.link) : '#/home' : '#/home'">{{footer.copyright.tag}}</a> &copy; All rights Reserved.</p>
  </div>
</footer>
